@font-face{
	font-family:  "armalite_rifle";
	src:url(armalite_rifle.ttf);
}
td{
	text-align: center;
}
table{
	/*width: 100%;*/
	border:1px solid black;
	border-collapse: collapse;
}
th{
	background: gray;
}
.fontRule{
	font-family: "armalite_rifle";
}
#albumImage{
	background: url("The_Joshua_Tree.png"); 
	width:220px;
	height:220px;
	margin: 0px auto;
	border-radius: 110px;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: magenta;
}
td{
	font-style: italic;
}
table{
	background-color: LightYellow;
}