*{margin: 0px;padding: 0px;}

.menuItem {
	width:30%; 
	float: left;
}
.menuItem p{
	text-align: center;
}
.menuItem h3{
	text-align: center;
}
.formLabel {
	width: 250px;
	display: inline-block;
}
.clearFix{
	clear:both;
}
.margin5{
	margin-right:4%;
	margin-left:4%;
}
.marginBottom{
	margin-bottom: 15px;
}
.header{
	border-bottom: 1px solid black;
	text-align: center;
}
.footer{		
	border-top: 1px solid black;
	text-align: center;
}
ul#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-bottom: 1px solid black;
}

#nav li {
    float: left;
    padding: 20px;
}

#nav li a {

    display: inline-block;
    text-align: center;
    /*text-decoration: none;*/
}
.boxSpacing{
	margin: 5px;
}
.frmCtrl{
	width: 200px;
}